/* 2014-3-11 价格反馈 13092013 */
.btn-price-feedback { color:#2272C8;}
.price-feedback { height:440px; padding:20px 35px;}
.price-feedback-msg { position:relative; padding-left:35px; line-height:1.8;}
.price-feedback-msg  i { position:absolute; top:0; left:0; _left:-35px;}
.price-feedback-pro { padding:15px 0 0 35px; line-height:1.8; color:#999;}
.price-feedback-pro .proimage { float:left; width:58px; height:58px; border:solid 1px #DDD; margin-right:10px;}
.price-feedback-pro .protitle { height:21px; overflow:hidden; color:#666;}
.price-feedback-pro .protitle a { color:#666;}
.price-feedback-pro .proprice { font-family:Arial; color:#D00;}
.price-feedback-pro .shopname { color:#666;}
.price-feedback-pro .shopname a { color:#666;}
.price-feedback-pro a:hover { color:#F60;}

.price-feedback-form { padding:15px 0 0 35px; color:#666;}
.price-feedback-form-title { height:25px;}
.price-feedback-form-radio { padding-bottom:10px;}
.price-feedback-form label, .price-feedback-form input { vertical-align:middle;}
.price-feedback-form-item { display:none;}
.price-feedback-form-item p { padding-bottom:6px;}
.price-feedback-form-item label { display:inline-block; width:85px; text-align:right;}
.price-feedback-form-item .require { color:#F00; vertical-align:middle; font-family:Arial;}
.price-feedback-text { width:100px; height:18px; padding:3px 2px; border:solid 1px #BBB; color:#999;}
.price-feedback-text-long { width:220px;}
.price-feedback-text-dark { color:#333;}
.price-feedback-text-err { border-color:#F00;}
.justify { margin-left:2em;}
.price-feedback .formtip { padding-left:90px; color:#F00;}
.price-feedback .formtip-inline { margin-left:5px; color:#F00; vertical-align:middle;}
.price-feedback .formtip i, .price-feedback .formtip span,
.price-feedback .formtip-inline i, .price-feedback .formtip-inline span { vertical-align:middle;}

.founddate { position:relative; width:245px; height:32px;}
.founddate-calendar { position:absolute; top:6px; right:60px; width:20px; height:15px; background:url(images/price-feedback.png) no-repeat 0 -104px;}

.price-feedback-button { padding:10px; text-align:center;}
.price-feedback .btn-submit { display:inline-block; width:68px; height:26px; background:url(images/price-feedback.png) no-repeat 0 0; font:bold 14px/26px \5B8B\4F53; color:#FFF; text-align:center;}
.price-feedback .btn-submit:hover { background-position:0 -26px; color:#FFF; text-decoration:none;}
.price-feedback .btn-cancel, .price-feedback-success .btn-cancel { display:inline-block; width:68px; height:26px; background:url(images/price-feedback.png) no-repeat 0 -52px; font:bold 14px/26px \5B8B\4F53; color:#333; text-align:center;}
.price-feedback .btn-cancel:hover, .price-feedback-success .btn-cancel:hover { background-position:0 -78px; text-decoration:none; color:#333;}
.price-feedback-success { padding:40px 0; color:#666; font-weight:bold; text-align:center;}
.price-feedback-success i, .price-feedback-success span { vertical-align:middle; margin-right:5px;}

/* 日历控件 */
.cal-close{position:absolute;right:5px;top:5px;display:block;width:15px;height:15px;font-size:0;background:url(images/calendarIcon.png) no-repeat right -13px;cursor:pointer;text-indent:-20px;}
.cal-prev,.cal-next{margin-top:90px;width:20px;height:38px;cursor:pointer;background:url(images/calendarBtn.png) no-repeat;text-indent:-30px;overflow:hidden;}
.cal-prev{float:left;margin-left:10px;}
.cal-next{float:left;margin-right:10px;background-position:-20px 0;}
.cal-container{float:left;margin:10px 7px 0;}
.calendar{float:left;position:relative;border:1px solid #cacaca;background:#fff;padding-bottom:15px;}
.calendar dl,.calendar dd{margin:0;padding:0;width:183px;font-size:12px; line-height:24px;}
.calendar dt.title-date{width:100%;background:none;border:none;color:#404040; display:block; border-bottom:1px solid #E4E4E4;font-weight:700;position:relative;}
.calendar dt{background:#555;float:left;width:25px;border-right:1px solid #6e6e6e; text-align:center;color:#fff;}
.calendar dt.last{padding-left:1px;border-right:none;}
.calendar dt.first{padding-left:1px;}
.calendar dd{clear: both;width:183px;height:139px;font-weight: 700;background:url(images/calendarFrame.png) no-repeat; margin:0;}
.prevyear{left:4px;width:9px;}
.prevmonth{ width:5px;background-position:-9px 0; left:20px;}
.nextyear{  width:9px;background-position:-19px 0; right:5px;}
.nextmonth{ width:5px;background-position:-14px 0; right:20px;}
.calendar dd a{float:left;width: 25px;height: 22px; overflow: hidden; text-decoration: none;margin: 1px 0 0 1px; text-align:center;color:#333;}
.calendar dd a.hover{background:#BBDDF4;color:#fff;}
.calendar dd a.weekend{background:#FFF;color:#333;}
.calendar dd a:hover{background:#f60;color:#fff;}
.calendar dd a.disabled:hover,.calendar dd a.disabled{background:#fff;color:#999;cursor:default;}
.calendar dd a.startdate{background:#06c;color:#fff;}
.calendar dd a.on{background:#F70;color:#fff;}
.calendar dd a.yuandan,
.calendar dd a.chuxi,
.calendar dd a.chunjie,
.calendar dd a.yuanxiao,
.calendar dd a.qingming,
.calendar dd a.wuyi,
.calendar dd a.duanwu,
.calendar dd a.zhongqiu,
.calendar dd a.guoqing,
.calendar dd a.today
{text-indent:-999px;background:url(images/calendarFestival.png) no-repeat;}
.calendar dd a.yuandan{background-position:0 0;}
.calendar dd a.chuxi{background-position:0 -30px;}
.calendar dd a.chunjie{background-position:0 -60px;}
.calendar dd a.yuanxiao{background-position:0 -90px;}
.calendar dd a.qingming{background-position:0 -120px;}
.calendar dd a.wuyi{background-position:0 -150px;}
.calendar dd a.duanwu{background-position:0 -180px;}
.calendar dd a.zhongqiu{background-position:0 -210px;}
.calendar dd a.guoqing{background-position:0 -240px;}
.calendar dd a.today{background-position:0 -270px;}
.calendar dd a.yuandan:hover,
.calendar dd a.yuandan:hover .select-range,
.calendar dd a.yuandan .selected,
.calendar dd a.yuandan .start-date
{background-position:-31px 0;}
.calendar dd a.chuxi:hover,
.calendar dd a.chuxi:hover .select-range,
.calendar dd a.chuxi .selected,
.calendar dd a.chuxi .start-date
{background-position:-31px -30px;}
.calendar dd a.chunjie:hover,
.calendar dd a.chunjie:hover .select-range,
.calendar dd a.chunjie .selected,
.calendar dd a.chunjie .start-date
{background-position:-31px -60px;}
.calendar dd a.yuanxiao:hover,
.calendar dd a.yuanxiao:hover .select-range,
.calendar dd a.yuanxiao .selected,
.calendar dd a.yuanxiao .start-date
{background-position:-31px -90px;}
.calendar dd a.qingming:hover,
.calendar dd a.qingming:hover .select-range,
.calendar dd a.qingming .selected,
.calendar dd a.qingming .start-date
{background-position:-31px -120px;}
.calendar dd a.wuyi:hover,
.calendar dd a.wuyi:hover .select-range,
.calendar dd a.wuyi .selected,
.calendar dd a.wuyi .start-date
{background-position:-31px -150px;}
.calendar dd a.duanwu:hover,
.calendar dd a.duanwu:hover .select-range,
.calendar dd a.duanwu .selected,
.calendar dd a.duanwu .start-date
{background-position:-31px -180px;}
.calendar dd a.zhongqiu:hover,
.calendar dd a.zhongqiu:hover .select-range,
.calendar dd a.zhongqiu .selected,
.calendar dd a.zhongqiu .start-date
{background-position:-31px -210px;}
.calendar dd a.guoqing:hover,
.calendar dd a.guoqing:hover .select-range,
.calendar dd a.guoqing .selected,
.calendar dd a.guoqing .start-date
{background-position:-31px -240px;}
.calendar dd a.today:hover,
.calendar dd a.today:hover .select-range,
.calendar dd a.today .selected,
.calendar dd a.today .start-date
{background-position:-31px -270px;}
.calendar dd a.end-date,
.cal-end dd a:hover,
.cal-end dd a.select-range:hover
{color:#FFF;background-color:#E2AD44;}
.calendar dd a.yuandan .end-date,
.cal-end dd a.yuandan:hover,
.cal-end dd a.yuandan:hover .select-range
{background-position:-62px 0;}
.calendar dd a.chuxi .end-date,
.cal-end dd a.chuxi:hover,
.cal-end dd a.chuxi:hover .select-range
{background-position:-62px -30px;}
.calendar dd a.chunjie .end-date,
.cal-end dd a.chunjie:hover,
.cal-end dd a.chunjie:hover .select-range
{background-position:-62px -60px;}
.calendar dd a.yuanxiao .end-date,
.cal-end dd a.yuanxiao:hover,
.cal-end dd a.yuanxiao:hover .select-range
{background-position:-62px -90px;}
.calendar dd a.qingming .end-date,
.cal-end dd a.qingming:hover,
.cal-end dd a.qingming:hover .select-range
{background-position:-62px -120px;}
.calendar dd a.wuyi .end-date,
.cal-end dd a.wuyi:hover,
.cal-end dd a.wuyi:hover .select-range
{background-position:-62px -150px;}
.calendar dd a.duanwu .end-date,
.cal-end dd a.duanwu:hover,
.cal-end dd a.duanwu:hover .select-range
{background-position:-62px -180px;}
.calendar dd a.zhongqiu .end-date,
.cal-end dd a.zhongqiu:hover,
.cal-end dd a.zhongqiu:hover .select-range
{background-position:-62px -210px;}
.calendar dd a.guoqing .end-date,
.cal-end dd a.guoqing:hover,
.cal-end dd a.guoqing:hover .select-range
{background-position:-62px -240px;}
.calendar dd a.today .end-date,
.cal-end dd a.today:hover,
.cal-end dd a.today:hover .select-range
{background-position:-62px -270px;}
.calendar dd a.select-range{background-color:#D9F2FF;}
.calendar dd a.yuandan .select-range{background-position:-93px 0;}
.calendar dd a.chuxi .select-range{background-position:-93px -30px;}
.calendar dd a.chunjie .select-range{background-position:-93px -60px;}
.calendar dd a.yuanxiao .select-range{background-position:-93px -90px;}
.calendar dd a.qingming .select-range{background-position:-93px -120px;}
.calendar dd a.wuyi .select-range{background-position:-93px -150px;}
.calendar dd a.duanwu .select-range{background-position:-93px -180px;}
.calendar dd a.zhongqiu .select-range{background-position:-93px -210px;}
.calendar dd a.guoqing .select-range{background-position:-93px -240px;}
.calendar dd a.today .select-range{background-position:-93px -270px;}
.cal-end dd a.hover{background-color:#BBDDF4;}
.cal-end dd a.yuandan .hover{background-position:-124px 0;}
.cal-end dd a.chuxi .hover{background-position:-124px -30px;}
.cal-end dd a.chunjie .hover{background-position:-124px -60px;}
.cal-end dd a.yuanxiao .hover{background-position:-124px -90px;}
.cal-end dd a.qingming .hover{background-position:-124px -120px;}
.cal-end dd a.wuyi .hover{background-position:-124px -150px;}
.cal-end dd a.duanwu .hover{background-position:-124px -180px;}
.cal-end dd a.zhongqiu .hover{background-position:-124px -210px;}
.cal-end dd a.guoqing .hover{background-position:-124px -240px;}
.cal-end dd a.today .hover{background-position:-124px -270px;}
.calendar-time{float:left;clear:left;margin:15px 0 0 7px;color:#333;_display:inline;}
.calendar-time strong{font-size:14px;font-weight:700;}
.calendar-time .plan{clear:left;float:left;width:184px;margin-top:15px;}
.calendar-time .plan span{float:left;width:12px;margin-top:-6px;position:relative;z-index:2;overflow:hidden;}
.calendar-time .plan .barM{float:left;position:relative;width:170px;height:3px;border:1px solid #AAA;background:#D8D8D8;font-size:0;}
.calendar-time .plan .bar{cursor:pointer;position:absolute;left:0;top:-5px;width:17px;height:13px;background:url(images/calendarIcon.png) no-repeat;}
.calendar-time em.confirm-btn{float:left;clear:left;cursor:pointer;margin-top:10px;width:48px;height:24px;text-align:center;line-height:24px;background:#fafafa;border-right:1px solid #c0c0c0;border-bottom:1px solid #c0c0c0;border-left:1px solid #dfdfdf;border-top:1px solid #dfdfdf;color:#333;letter-spacing:5px;}
.input{border:1px solid #ccc;padding:4px;}
#J-calendar-date {z-index: 1000003 !important;}

/* 加入购物车时促销提示弹窗 */
.promtip-addcart { display:none; position:fixed; top:0; left:0; width:320px; height:180px; padding:30px 20px 20px; border:solid 2px #F70; background:#FFF; z-index:10001;
	_position:absolute;
	_top: expression(eval(document.documentElement.scrollTop));
}
.promtip-addcart .close { position:absolute; top:10px; right:10px; width:12px; height:12px; background:url(images/icons.png?v=2015121601) no-repeat -110px -80px;}
.promtip-addcart-title { position:relative; height:24px; padding-left:30px; line-height:24px; font-size:14px; color:#333; _padding-top:5px; _height:19px;}
.promtip-label { display:inline-block; width:30px; height:15px; background:#F70; color:#FFF; font:normal 12px/15px \5B8B\4F53; text-align:center;
	-ms-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
}
.promtip-addcart-title i { position:absolute; top:0; left:0;}
.promtip-addcart-title i, .promtip-addcart-title label, .promtip-addcart-title span { vertical-align:middle;}

.promtip-addcart-panel li { float:left; width:135px; height:60px; margin-top:30px;}
.promtip-addcart-panel li.sep { width:1px; height:60px; margin:30px 24px 0; background:#DDD;}
.promtip-addcart-panel li p { height:20px; overflow:hidden; word-break:break-all;}
.promtip-addcart-panel .btn-view { display:block; width:135px; height:28px; margin-top:10px; background:url(images/icons.png?v=2015121601) no-repeat 0 -250px; font:bold 14px/28px \5B8B\4F53; color:#333; text-align:center;}
.promtip-addcart-panel .btn-view:hover { text-decoration:underline; color:#F60;}

.promtip-addcart-panel .btn-buy { display:block; width:135px; height:28px; margin-top:10px; background:url(images/icons.png?v=2015121601) no-repeat 0 -190px; font:bold 14px/28px \5B8B\4F53; color:#FFF; text-align:center;}
.promtip-addcart-panel .btn-buy:hover { background-position:0 -220px; text-decoration:none; color:#FFF;}
.promtip-addcart-memo { margin-top:50px; color:#999;}

/* 爆炸贴 2014-01-13  13073014 */
.g-sticker-80 {position:absolute;right:5px;top:0;}
.g-sticker-80 b {display: block;width:65px;height:80px;background:url(images/baozha-80.png) no-repeat;}
/* 人气 */
.g-sticker-80 .g-s-1{background-position:0 0;}
/* 畅销 */
.g-sticker-80 .g-s-2{background-position:-65px 0;}
/* 推荐 */
.g-sticker-80 .g-s-3{background-position:-130px 0;}
/* 新品 */
.g-sticker-80 .g-s-4{background-position:-195px 0;}
/* 首发 */
.g-sticker-80 .g-s-5{background-position:-260px 0;}
/* 独家首发 */
.g-sticker-80 .g-s-6{background-position:-325px 0;}
/* 独家 */
.g-sticker-80 .g-s-7{background-position:0 -80px;}
/* 清仓 */
.g-sticker-80 .g-s-8{background-position:-65px -80px;}
/* 限时折扣 */
.g-sticker-80 .g-s-9{background-position:-130px -80px;}
/* 惊爆价 */
.g-sticker-80 .g-s-10{background-position:-195px -80px;}
/* 半价 */
.g-sticker-80 .g-s-11{background-position:-260px -80px;}
/* 好评 */
.g-sticker-80 .g-s-12{background-position:-325px -80px;}
/* 返券 */
.g-sticker-80 .g-s-13{background-position:0 -160px;}
/* 预售 */
.g-sticker-80 .g-s-14{background-position:-65px -160px;}
/* 团购 */
.g-sticker-80 .g-s-15{background-position:-130px -160px;}
/* 抢购 */
.g-sticker-80 .g-s-16{background-position:-195px -160px;}
/* 满减 */
.g-sticker-80 .g-s-17{background-position:-260px -160px;}
/* 满返 */
.g-sticker-80 .g-s-18{background-position:-325px -160px;}

.g-sticker-80 .g-s-19{background-position:0 -240px;}
.g-sticker-80 .g-s-20{background-position:-65px -240px;}
.g-sticker-80 .g-s-21{background-position:-130px -240px;}
.g-sticker-80 .g-s-22{background-position:-195px -240px;}
.g-sticker-80 .g-s-23{background-position:-260px -240px;}
.g-sticker-80 .g-s-24{background-position:-325px -240px;}

.g-sticker-80 .g-s-25{background-position:0 -320px;}
.g-sticker-80 .g-s-26{background-position:-65px -320px;}
.g-sticker-80 .g-s-27{background-position:-130px -320px;}
.g-sticker-80 .g-s-28{background-position:-195px -320px;}
.g-sticker-80 .g-s-29{background-position:-260px -320px;}
.g-sticker-80 .g-s-30{background-position:-325px -320px;}

.g-sticker-80 .g-s-31{background-position:0 -400px;}
.g-sticker-80 .g-s-32{background-position:-65px -400px;}
.g-sticker-80 .g-s-33{background-position:-130px -400px;}
.g-sticker-80 .g-s-34{background-position:-195px -400px;}
.g-sticker-80 .g-s-35{background-position:-260px -400px;}
.g-sticker-80 .g-s-36{background-position:-325px -400px;}


/* 50*60 */
.g-sticker-60 {position:absolute;right:5px;top:0;}
.g-sticker-60 b {display: block;width:50px;height:60px;background:url(images/baozha-60.png) no-repeat;}
/* 人气 */
.g-sticker-60 .g-s-1{background-position:0 0;}
/* 畅销 */
.g-sticker-60 .g-s-2{background-position:-50px 0;}
/* 推荐 */
.g-sticker-60 .g-s-3{background-position:-100px 0;}
/* 新品 */
.g-sticker-60 .g-s-4{background-position:-150px 0;}
/* 首发 */
.g-sticker-60 .g-s-5{background-position:-200px 0;}
/* 独家首发 */
.g-sticker-60 .g-s-6{background-position:-250px 0;}
/* 独家 */
.g-sticker-60 .g-s-7{background-position:0 -60px;}
/* 清仓 */
.g-sticker-60 .g-s-8{background-position:-50px -60px;}
/* 限时折扣 */
.g-sticker-60 .g-s-9{background-position:-100px -60px;}
/* 惊爆价 */
.g-sticker-60 .g-s-10{background-position:-150px -60px;}
/* 半价 */
.g-sticker-60 .g-s-11{background-position:-200px -60px;}
/* 好评 */
.g-sticker-60 .g-s-12{background-position:-250px -60px;}
/* 返券 */
.g-sticker-60 .g-s-13{background-position:0 -120px;}
/* 预售 */
.g-sticker-60 .g-s-14{background-position:-50px -120px;}
/* 团购 */
.g-sticker-60 .g-s-15{background-position:-100px -120px;}
/* 抢购 */
.g-sticker-60 .g-s-16{background-position:-150px -120px;}
/* 满减 */
.g-sticker-60 .g-s-17{background-position:-200px -120px;}
/* 满返 */
.g-sticker-60 .g-s-18{background-position:-250px -120px;}

.g-sticker-60 .g-s-19{background-position:0 -180px;}
.g-sticker-60 .g-s-20{background-position:-50px -180px;}
.g-sticker-60 .g-s-21{background-position:-100px -180px;}
.g-sticker-60 .g-s-22{background-position:-150px -180px;}
.g-sticker-60 .g-s-23{background-position:-200px -180px;}
.g-sticker-60 .g-s-24{background-position:-250px -180px;}

.g-sticker-60 .g-s-25{background-position:0 -240px;}
.g-sticker-60 .g-s-26{background-position:-50px -240px;}
.g-sticker-60 .g-s-27{background-position:-100px -240px;}
.g-sticker-60 .g-s-28{background-position:-150px -240px;}
.g-sticker-60 .g-s-29{background-position:-200px -240px;}
.g-sticker-60 .g-s-30{background-position:-250px -240px;}

.g-sticker-60 .g-s-31{background-position:0 -300px;}
.g-sticker-60 .g-s-32{background-position:-50px -300px;}
.g-sticker-60 .g-s-33{background-position:-100px -300px;}
.g-sticker-60 .g-s-34{background-position:-150px -300px;}
.g-sticker-60 .g-s-35{background-position:-200px -300px;}
.g-sticker-60 .g-s-36{background-position:-250px -300px;}


/*优惠券弹窗 2014-02-26 13073014*/
.pop-coupon-win .content {padding:20px 0 10px 15px; overflow:hidden;}
.pop-coupon-win .content li {display:inline-block;width:160px;height:126px;margin-right:11px;*margin-right:15px;margin-bottom:10px;overflow:hidden;}
.pop-coupon-win .content li {*float:left; _display:inline;} /*IE6,7 hack*/
.pop-coupon-win .content .no-margin {margin-right:0;}
.pop-coupon-win .content a {position: relative; display:block;width:160px;height:126px;background:#FFF url(images/coupon_bg.png) 0 0 repeat-y; overflow:hidden;}
.pop-coupon-win .content a:hover {text-decoration:none;}
.pop-coupon-win .content .coupon-5 a{color:#CB7B00;background-position:0 0;}
.pop-coupon-win .content .coupon-10 a{color:#948512;background-position:-162px 0;}
.pop-coupon-win .content .coupon-100 a{color:#00A1DB;background-position:-324px 0;}
.pop-coupon-win .content .coupon-1000 a{color:#D45149;background-position:-486px 0;}
.pop-coupon-win .content .no-margin {margin-right:0;}
.pop-coupon-win .content li span{display:block; line-height:1.4; font-family:"Microsoft Yahei";text-align:center;cursor:pointer;}
.pop-coupon-win .content li .coupon-amount { height:40px; margin-top:6px;font:normal 14px "Microsoft Yahei"; overflow:hidden;}
.pop-coupon-win .content li .coupon-amount  i { display:inline-block; height:35px; line-height:1.6; font-size:20px; vertical-align:middle; }
.pop-coupon-win .content li .coupon-amount  em { display:inline-block; height:35px; padding:0 2px;font:normal 34px/1.1 Arial; vertical-align:middle;}
.pop-coupon-win .content li .coupon-amount  .yhq { display:inline-block; width:45px; height:35px; line-height:1.2; text-align:left; vertical-align:middle;}
.pop-coupon-win .content li .coupon-amount  .yhq small { font-size:14px;}
.pop-coupon-win .content li .amount-large em { font-size:30px;}
.pop-coupon-win .content li .get-coupon{position: absolute; left: 35px; bottom: 8px; width:90px;height:22px;margin:2px auto 0;line-height:23px;background-color:#FFF;color:#F70;font-weight:bold;}
.pop-coupon-win .content li .coupon-condition{ width: 160px; height: 32px; overflow: hidden;}



/*右边工具条*/
#snSideTools{position:fixed;_position:absolute;width:44px;}
#snSideTools li{margin-bottom:5px;float:left;clear:both;background:#FFF;}
#snSideTools li a{display:block;width:42px;height:42px;border:1px solid #cecece;border-radius:2px;background:#fff url(images/am.gif?v=20140825) no-repeat center center;}
#snSideTools li a.sntool, #snSideTools li a.sntool:hover, #snSideTools li a.sntool:visited{border:1px solid #cecece;border-radius:2px;background:#f4f4f4;width:24px;height:28px;padding:7px 9px;line-height:14px;overflow:hidden;text-decoration:none;color:#666;}
#snSideTools #gotop{display:none;}
#snSideTools li.snQn a.sntool{position: relative; border-color: #f3b500; background:#FFF;}
#snSideTools li.snQn span{ position: absolute; display: block; width: 44px; height: 50px; top: -12px; left: -30px; background:#fff url(images/lionCute.gif?v=2015120701) no-repeat center center;}

/* 二维码 */
#snSideTools li.erweima{position:relative;}
#snSideTools li.erweima .sntool { background:url(images/icons.png?v=2015121601) -180px -365px !important; cursor:default;}
#snSideTools li .ewm-pic{position:absolute;bottom:0;left:-108px;width:100px;height:118px;border:1px solid #CECECE;background:#FFF;overflow:hidden;}
#snSideTools li .ewm-pic iframe{position:absolute;z-index:1;left:0;top:0;width:100%;height:115px;}
#snSideTools li .ewm-pic img{position:relative;z-index:10;display:block;margin:10px auto 0;width:80px;height:80px;}
#snSideTools li .ewm-pic a{position:relative;z-index:10;width:auto;height:auto;border:0;color:#666;}
#snSideTools li .ewm-pic a:hover{color:#F60;}
#snSideTools li .ewm-pic p{text-align:center;margin:5px 5px 0;height:18px;overflow:hidden;}